:root {
  /* Fonts */
  --font-serif-stack: Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-sans-serif-stack: -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  --font-mono-stack: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #3a3a3a;
  --color-secondary: #c4c4c4;
  --font-size-xlarge: 60px;
  --font-size-large: 30px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;

  --color-gradient-primary: linear-gradient(#cae7ea, #d1e7de);
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-family: var(--font-sans-serif-stack);
  font-size: var(--font-size-medium);
}

.font-size-xlarge {
  font-size: var(--font-size-xlarge);
}
.font-size-large {
  font-size: var(--font-size-large);
}
.font-size-medium {
  font-size: var(--font-size-medium);
}
.font-size-small {
  font-size: var(--font-size-small);
}
.font-size-xsmall {
  font-size: var(--font-size-xsmall);
}
.font-weight-semi-bold {
  font-weight: semi-bold;
}
.font-weight-bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}
.color-gradient-primary {
  background: var(--color-gradient-primary);
  background-clip: text;
  color: transparent;
}
.bg-color-gradient-primary {
  background: var(--color-gradient-primary);
}

.font-serif {
  font-family: var(--font-serif-stack);
}

.font-sans-serif {
  font-family: var(--font-sans-serif-stack);
}

.font-mono {
  font-family: var(--font-mono-stack);
}

img {
  font-style: italic;
  max-width: 100%;
  shape-margin: 1rem;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
