@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
  color: #303030;
  background-color: #ffffff;
  font-size: 15.5px;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
}

.container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

.container .sidebar {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: minmax(100px, 25%) 1fr;
}

.container .main {
  padding-top: 50px;
}

.container .sidebar .title {
  padding-top: 50px;
  padding-left: 50px;
}

.container .sidebar .navigator {
  padding-top: 50px;
  padding-left: 50px;
}