@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  /* Fonts */
  --dm-serif-display: 'DM Serif Display';
  --cormorant-garamond: 'Cormorant Garamond', serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--dm-serif-display);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--cormorant-garamond);
}

.height-100dvh {
  height: 100dvh;
}

.img-object-fit-cover {
  width: 100%;
  object-fit: cover;
}

.stacked-content {
  display: grid;
  place-items: center;
}

.stacked-content > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
