html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #303030;
  background-color: #ffffff;
  font-size: 15.5px;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

.welcome {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.welcome img {
  width: 100%;
  object-fit: contain;
}