{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The POS</title>
  <link rel="stylesheet" href="{% static 'thepos/css/styles.css' %}">
</head>
<body>
  <div class="welcome">
    <img src="{% static 'thepos/img/welcome.jpg' %}" alt="The POS">
  </div>
</body>
</html>