{% load static %}
<html lang="en">

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hung Nguyen</title>
  <link rel="stylesheet" href="{% static 'hungmqn/css/styles.css' %}">
</head>

<body>
  <!-- <div class="welcome">
    <img src="{% static 'hungmqn/img/welcome.jpg' %}" alt="The POS">
  </div> -->
  <div class="container">
    <section class="sidebar">
      <div class="title">
        <h1>HUNG NGUYEN</h1>
        <h3>Software Engineer</h3>
      </div>
      <div class="navigator">
        <h3>
          Here some of my projects:
        </h3>
        <ul>
          <li><a href="https://thepos.hungmqn.com/admin">The POS Service (Demo version only)</a></li>
          <li><a href="https://tranduongco.vn/">Tran Duong Co</a></li>
          <li><a href="https://minhminhnhut.com/">Minh Minh Nhut</a></li>
        </ul>
      </div>
    </section>
    <section class="main">
      <div class="content">
        <h3>Merry Christmas!</h3>
        <br>
        <video width="70%" autoplay loop muted inline>

          <source src="{% static 'hungmqn/media/welcome-christmas.mp4' %}" type="video/mp4">

          Sorry, your browser doesn't support embedded videos.
        </video>
        <br>
        <br>
        <div contenteditable>
          <p>Write something here...</p>
        </div>
      </div>
    </section>
  </div>
</body>

</html>